<div class="container">
  <div class="row information padding-left-20">
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-4 pb-5" align="center">
      <div class="cinema-search-field">
        <h2 class="title pb-3">Profil</h2>
        <table class="profile-table">
          <tr>
            <td rowspan="4">
              <img src="../../assets/star_wars_the_last_jedi.jpg"
                  alt="Profilkép"
                  width="200px"
                  height="300px"
              />
            </td>
          </tr>
          <tr>
            <td>
              Felhasználónév:
            </td>
            <td>
              Alma
            </td>
          </tr>
          <tr>
            <td>
              Email-cím:
            </td>
            <td>
              korte@alma.fa
            </td>
          </tr>
          <tr>
            <td>
              Telefonszám:
            </td>
            <td>
              0630548221
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
