.container {
  max-width: 100%;
  overflow: auto;
}

.information {
  background-color: rgba(0, 0, 0, 0.9);
}

.color-white {
  color: white;
}

.title {
  color: #dd000f;
  font-variant: small-caps;
}

.screen {
  display: inline-block;
  background-color: #555555;
  font-variant: small-caps;
  border: 3px solid #777777;
  border-radius: 5px;
}

.small-canvas {
  height: 30px;
  width: 95%;
}

.medium-canvas {
  width: 95%;
  height: 37px;
}

.large-canvas {
  width: 100%;
  height: 45px;
}

.center {
  text-align: center;
}

.chair-btn {
  display:inline-block;
  padding: 0px;
  background-color: rgb(28, 209, 28);
  border-radius: 5px;
  font-weight: bold;
  box-sizing: border-box;
}

.chair-btn:hover {
  background-color: rgb(27, 104, 27);
}

.selected-chair {
  background-color: rgb(255, 153, 0);
}

.selected-chair:hover {
  background-color: rgb(167, 82, 13);
}

.small-chair-btn {
  min-width: 19px;
  min-height: 19px;
  width: 19px;
  height: 19px;
  font-size: 10px;
  line-height: 19px;
}

.medium-chair-btn {
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
}

.large-chair-btn {
  min-width: 30px;
  min-height: 30px;
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
}
