<div class="container">
  <div class="row information">
    <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12 pt-4 pb-5" align="center">
      <div class="ticket-payment-info-div">
        <h2 class="title pb-3">Jegyek és fizetés</h2>
        <table>
          <th>
            Típus
          </th>
          <th>
            Ár
          </th>
          <th>
            Kényelmi díj
          </th>
          <th>
            Darab
          </th>
          <tr class="border-bottom" *ngFor="let ticket of availableTickets">
            <td>{{ ticket.ticket.type }}</td>
            <td>{{ ticket.ticket.price }}</td>
            <td>{{ amenitiesCharge }}</td>
            <td>
              <mat-form-field>
                <mat-select placeholder="Darab">
                    <mat-option *ngFor="let index of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
                                value="{{ index }}">
                                {{ index }}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </table>

        <div class="pt-5">
          <table>
            <tr>
              <td>
                <label>Válaszd ki a fizetési módot: </label>
              </td>
              <td>
                <mat-form-field>
                  <mat-select placeholder="Fizetési mód">
                      <mat-option *ngFor="let paymentMethod of paymentMethods"
                                  value="{{ paymentMethod.name }}"
                                  (click)="setSelectedPaymentMethod(paymentMethod)">
                                  <img src="{{ paymentMethod.pictureUrl }}"
                                       alt="{{ paymentMethod.name }}"
                                       height="40px"
                                       width="80px" />
                                  {{ paymentMethod.name }}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              </td>
              <td>
                <img src="{{ selectedPaymentMethod.pictureUrl }}"
                  alt="{{ selectedPaymentMethod.pictureUrl }}"
                  height="60px"
                  width="120px" />
              </td>
            </tr>
          </table>
        </div>

        <div class="pt-3">
          <button class="btn btn-dark"
                  mat-raised-button
                  matStepperNext>
                  Következő
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
