<div class="application-min-width">
  <div class="merianda blur-effect">
    <nav class="navbar navbar-expand">
      <img class="navbar-brand logo" src="../assets/logo.png" routerLink="/home" />

        <ul class="navbar-nav mr-auto small-caps">
          <li class="nav-item pl-2" routerLinkActive="hightlighted" *ngFor="let menuPoint of leftMenu">
            <a class="nav-link stroke-double stroke-single" [ngClass]="{'nice': active}" routerLink="{{ menuPoint.path }}">{{ menuPoint.name }}</a>
          </li>
        </ul>

        <ul class="navbar-nav small-caps">
          <li class="nav-item pl-2" routerLinkActive="hightlighted" *ngFor="let menuPoint of rightMenu">
            <a class="nav-link stroke-single stroke-double" routerLink="{{ menuPoint.path }}">{{ menuPoint.name }}</a>
          </li>
        </ul>

    </nav>
  </div>

  <div class="font router-outlet-width pt-3">
      <router-outlet></router-outlet>
  </div>

<div class="container">
  <div class="row information font">
      <div class="col-lg-12 col-xs-12 col-md-12 col-sm-12" align="center">
          <footer class="footer footer-font">
            <img class="navbar-brand logo" src="../assets/logo.png" routerLink="/home" />
            <p>Lépj velünk kapcsolatba:
              <span class="space"></span>
              <a target="blank" href="https://www.facebook.com"><span class="fa fa-facebook facebook social-logo"></span></a>
              <span class="space"></span>
              <a target="blank" href="https://www.twitter.com"><span class="fa fa-twitter twitter social-logo"></span></a>
              <span class="space"></span>
              <a target="blank" href="https://www.gmail.com"><span class="fa fa-google google social-logo"></span></a>
            </p>
            <p>Rólunk | Adatvédelmi tájékoztató | Gyakran Ismételt Kérdések | Visszajelzés</p>
            <p>&copy; 2017 Cinema World Kft. Minden jog fenntartva.</p>
          </footer>
      </div>
    </div>
  </div>
</div>


