.application {
  min-width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex: 0;
}

.router-outlet {
  flex: 1;
}

.footer {
  flex: 0;
}

a {
  color: white;
  text-shadow: 2px 2px 5px black;
}

a:focus {
  outline: none;
}

img:focus {
  outline: none;
}

a:hover  {
  color: #777777;
  background-color: rgba(0, 0, 0, 0.6);
}

ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  display: inline-block;
}

.logo {
  cursor: pointer;
}

.hightlighted a {
  cursor: default;
  color: #dd000f;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
}

.merianda {
  font-family: 'merianda', sans;
  font-size: 19px;
}

.small-caps {
  font-variant: small-caps;
}

.blur-effect:before {
  content: "";
  left: 0;
  right: 0;
  position: fixed;
  z-index: -1;

  background: url('../assets/bg.jpg') no-repeat fixed center;
  background-size: cover;

  height: 68px;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.blur-effect {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgb(88, 84, 84);
}

.font {
  font-family: "Times New Roman", Georgia, Serif;
}

.container {
  max-width: 100%;
}

.information {
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 100px;
  padding-bottom: 50px;
}

.social-logo {
  font-size: 25px;
}

.logo {
  cursor: pointer;
}

.footer-font {
  text-transform: uppercase;
  font-size: 13px;
  color: white;
}

.space {
  padding-left: 10px;
}

.facebook {
  color: #3B5998;
}

.twitter {
  color: #1DA1F2;
}

.google {
  color: #DB4437;
}

::ng-deep .mat-dialog-container button.register-bg {
  border-radius: 5px ;
  background: url('../assets/register_bg.jpg');
  background-size: cover;
}

::ng-deep .mat-dialog-container button.login-bg {
  border-radius: 5px ;
  background: url('../assets/login_bg.jpg');
  background-size: cover;
}

.logout {
  color: white;
  cursor: pointer;
}
