::ng-deep .mat-input-container,
::ng-deep .mat-input-placeholder,
::ng-deep .mat-select-value-text,
::ng-deep .mat-checkbox-label {
  color: white;
}

::ng-deep .mat-input-underline {
  border-bottom: 1px solid white;
}

::ng-deep .mat-form-field-disabled .mat-input-underline {
  border-bottom: 1px solid #222222;
}

::ng-deep .mat-form-field .mat-select.mat-select-disabled .mat-select-arrow {
  color: #222222;
}

::ng-deep .mat-checkbox-background, .mat-checkbox-frame {
  background-color: white ;
}

mat-form-field {
  color: white;
}

.display-block {
  display: block;
}

.container {
  background-color: rgba(0, 0, 0, 0.9);
  width: 30%;
  border-radius: 10px;
}

.login-btn {
  width: 100%;
  border: 1px solid white;
}

.login-btn:disabled {
  background: #222222;
  color: white;
}

.error {
  color: red;
  font-size: 14px;
}
