<div id="information" class="row padding-left-20">

  <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 padding-top-20">
    <table class="film-panel">
      <tr>
        <td colspan="2">
          <button class="navigation-btn" mat-raised-button (click)="goUp()" [disabled]="activeFilmIndex == 0">
            <i class="material-icons">arrow_upward</i>
          </button>
        </td>
      </tr>
      <tr class="film-tr"
          *ngFor="let film of activeFilms; let i = index;"
          (click)="changeActiveElement(i)"
          [ngClass]="{'highlighted': activeFilm == i}">
        <td class="film-picture">
          <img src="{{ film.link }}"
              alt="{{ film.name }}"
              height="80"
              width="60" />
        </td>
        <td class="film-name">
            {{ film.name }}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="navigation-btn" mat-raised-button (click)="goDown()" [disabled]="activeFilmIndex == films.length - 3">
            <i class="material-icons">arrow_downward</i>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-lg-9 col-xs-9 col-md-9 col-sm-9 padding-top-20" align="center">
    <table>
      <tr>
        <td class="padding-right-10">
          <button class="nagivation-bg" mat-fab (click)="previousTrailer()" [disabled]="activeTrailer == 0">
            <i class="material-icons">arrow_back</i>
          </button>
        </td>
        <td class="padding-right-10">
            <iframe class="box-shadow"
                    width="700"
                    height="355"
                    [src]="url"
                    frameborder="0"
                    allowfullscreen>
            </iframe>
        </td>
        <td>
          <button class="nagivation-bg" mat-fab (click)="nextTrailer()" [disabled]="activeTrailer == this.films[this.activeElement].trailers.length - 1">
            <i class="material-icons">arrow_forward</i>
          </button>
        </td>
      </tr>
    </table>

  </div>
</div>

<div class="row padding-left-20 information flex-end">

  <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3 padding-top-10" align="center">
    <table>
      <tr>
        <td class="big-picture">
          <img src="{{ films[activeElement].link }}"
          alt="{{ films[activeElement].name }}"
          height="190"
          width="140" />
        </td>
      </tr>
      <tr>
        <td class="padding-top-10 text-center">
            <span class="fa fa-star checked big"></span>
            <span *ngFor="let star of rate" class="fa fa-star checked big padding-left-10"></span>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3 padding-top-10">
    <table class="full-width">
      <th class="title" colspan="2">
        <h2>{{ films[activeElement].name }}</h2>
      </th>
      <tr>
        <td>Műfaj:</td>
        <td>?</td>
      </tr>
      <tr>
        <td>Játékidő (perc):</td>
        <td>?</td>
      </tr>
      <tr>
        <td>Premier:</td>
        <td>?</td>
      </tr>
      <tr>
        <td>Korhatár:</td>
        <td>?</td>
      </tr>
      <tr>
        <td>Rendező:</td>
        <td>?</td>
      </tr>
      <tr>
        <td>Ország:</td>
        <td>?</td>
      </tr>
      <tr>
        <td>Év:</td>
        <td>?</td>
      </tr>
    </table>
  </div>

  <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3 padding-top-10">
    <table>
      <th>
        <h3 class="title">Leírás</h3>
      </th>
      <tr>
        <td>{{ films[activeElement].description }}</td>
      </tr>
    </table>
  </div>

  <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3 padding-top-10">
    <table align="center">
      <tr>
        <td>
          <h4>A jegyfoglaláshoz kérlek jelentkezz be!</h4>
        </td>
      </tr>
    </table>
  </div>

</div>
